.suggestion-list {
    list-style-type: none;
    padding: 0;
}

.suggestion-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestion-list li:hover {
    background-color: #949494;
}